@import "tailwindcss";
@import "@fontsource/cinzel";

@theme {
  --color-brand-gray: #A2A2A2;
  --color-brand-accent: #FFD798;
  --color-lighter-white: #E8E8E8;

  --color-bg-opacity: rgba(10,14,14,0.84);

  --font-nunito: 'Nunito', sans-serif;
  --font-cinzel: 'Cinzel', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
